a:focus{
    font-size: 100px;
    background-color: brown;
}
a:visited { 
    color: red; 
}
div:hover { 
    color: orange; 
}
a:active { 
    color: blue; 
}

li:first-child { 
    color:red; 
}
li:last-child { 
    color: green; 
}
li:nth-child(3){ 
    color: yellow; 
}
li:not(.item){ 
    font-size: 100px;
    
}


