*{
    margin: 0;
}

/* main {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    border: 5px solid;
}
.um {
    background-color: aqua;
    border: dotted;
    width: 100px;
    height: 100px;
}
.dois {
    background-color: yellowgreen;
    border: dotted;
    width: 100px;
    height: 100px;
}
.tres{
    background-color: blue;
    border: dotted;
    width: 100px;
    height: 100px;
}
.quatro{
    background-color: blueviolet;
    border: dotted;
    width: 100px;
    height: 100px;
}
.cinco{
    background-color: brown;
    border: dotted;
    width: 100px;
    height: 100px;
} */

body {
    display:flex;
    height: 100%;   
}

main {
    display: flex;
    height: 100%;
}

aside,nav {
    background-color: pink;
}

header,footer {
    background-color: gray;
    height: 100%;
    width: 100%;    
}

article{
    background-color: pink;
    width: 100%;
}
article,nav,aside,header,footer{
    padding: 1px;
    margin: 1px;
}