a:focus{
    font-size: 100px;
    background-color: brown;
}
a:visited { 
    color: red; 
}
div:hover { 
    color: orange; 
}
a:active { 
    color: blue; 
}

li:first-child { 
    color:red; 
}
li:last-child { 
    color: green; 
}
li:nth-child(3){ 
    color: yellow; 
}
li:not(.item){ 
    font-size: 15px;
    
}

input[type="radio"]:checked {
    margin-left: 105px;
}

input[type="text"]:disabled {
    background: yellowgreen;
}

input[type=email]:invalid {
    background: orange;
}
input[type=email]:valid {
    background: green;
}

input:required {
    background: red;
}

p::first-line {
    color: blue;
}

::placeholder {
    color: yellow
}

p::first-letter {
    color: red;
    text-transform: uppercase;
    font-size: 100px;
}

p::selection {
    color: red;
    background: yellow;
}
::marker {
    color: teal;
    font-size: 50px;
}


