.desafio1 {
background-color: orange;
}

#lista1 {
    color: blue;
    background-color: red;
    list-style-type: armenian;
}

#lista2 {
    background-color: rgb(165, 46, 159);

}

@font-face { 
    font-family: "internacional"; 
    src: url("Inter-VariableFont_slnt\,wght.ttf"); 
     }

body {
    font-family: "internacional";
}